@font-face {
    font-family: Header;
    src: url(fonts/HomemadeHamburgers.ttf);
}
@font-face {
    font-family: Palash;
    src: url(fonts/Palash-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainSection {
    background-color: rgba(0,0,0,0.6);    background-attachment: fixed;
    height: 100%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h1 {
    font-family: Header;
    font-size: 4em;
    color: white;
    align-self: center;
}

label {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 2em;
}

input[type="text"], input[type="date"] {
    width: 25%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    margin: 20px 5px;
}

input[type="date"]:hover, 
input[type="text"]:hover {
    border: solid 2px lime;
}

input[type="submit"] {
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    border: solid 2px white;
    font-weight: 700;
    background-color: black;
    color: white;
}

input[type="submit"]:hover {
    background-color: darkslategrey;
    font-weight: 800;

}

td, th, a {
    color: white;
}

#map {
    height: 75%;
    width: 50%;
    display: none;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

th {
    font-family: Header;
    font-size: 2em;
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

a:hover {
    color: lime;
}

#error {
    color: white;
    font-weight: 800;
}

/* #resultsSection {
    display: flex;
    /* flex-direction: row; */
    height: 92vh;
    width: 90vw;
} */