@font-face {
    font-family: Header;
    src: url(fonts/HomemadeHamburgers.ttf);
}
@font-face {
    font-family: Palash;
    src: url(fonts/Palash-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(img/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-size: cover;
    background-attachment: fixed; */

    background: url(img/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainSection {
    background-color: rgba(0,0,0,0.6);    
    width: 92vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

h1 {
    font-family: Header;
    font-size: 3em;
    color: white;
    align-self: center;
}

label {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
}

input[type="text"], input[type="date"] {
    width: 22%;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin: 20px 5px;
}

input[type="date"]:hover, 
input[type="text"]:hover {
    border: solid 2px lime;
}

input[type="submit"] {
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    border: solid 2px white;
    font-weight: 700;
    background-color: black;
    color: white;
}

input[type="submit"]:hover {
    background-color: darkslategrey;
    font-weight: 800;
}

td, th, a {
    color: white;
}

#map {
    height: 100%;
    width: 100%;
    display: none;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
}

th {
    font-family: Header;
    font-size: 18px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

a:hover {
    color: lime;
}

#error {
    color: white;
    font-weight: 800;
}

#resultsSection {
    display: flex;
    flex-direction: row;
    width: 85vw;
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 15px;
} 

table#results td:nth-child(4) {
    display: none;
}

table#results th:nth-child(4) {
    display: none;
}

tr:nth-child(even) {
    background-color: rgba(77, 76, 76, 0.6);    
}




@media only screen and (min-width: 768px) {
    #map { 
        display: flex;
    }

}